#=================================================
# Description: Build Android HAL and dhd packages using GitHub Actions
# Lisence: MIT
# Author: 0312birdzhang
#=================================================

name: Build SailfishOS kernel

on: 
  release:
    types: [published]
  push:
    branches: 
      - master

jobs:

  build:
    runs-on: ubuntu-16.04

    env:
      DEVICE: lavender
      VENDOR: xiaomi
      ANDROID_ROOT: /home/runner/work/hadk_16.0/
      SAILFISH_SKD_VERSION: 3.3.0.16

    steps:
    - name: Checkout
      uses: actions/checkout@master
    
    - name: Initialization environment
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        openjdk-8-jdk android-tools-adb bc \
        bison build-essential curl flex g++-multilib \
        gcc-multilib gnupg gperf imagemagick lib32ncurses5-dev \
        lib32readline-dev lib32z1-dev libesd0-dev liblz4-tool \
        libncurses5-dev libsdl1.2-dev libssl-dev libwxgtk3.0-dev \
        libxml2 libxml2-utils lzop pngcrush rsync schedtool \
        squashfs-tools xsltproc yasm zip zlib1g-dev git
    - name: Download repo bin file
      run: |
        mkdir -p ~/bin
        wget 'https://storage.googleapis.com/git-repo-downloads/repo' -P ~/bin
        chmod +x ~/bin/repo

    - name: Downloading source code
      run: |
        source hadk.env
        mkdir -p $ANDROID_ROOT
        cd $ANDROID_ROOT
        repo init -u git://github.com/mer-hybris/android.git -b hybris-16.0 --depth=1 --no-repo-verify
        repo sync --fetch-submodules --force-sync -c --no-clone-bundle --no-tags
    
    - name: Clone device spec source
      run: |
        source hadk.env
        git clone https://github.com/Htylol/android_device_xiaomi_lavender.git $ANDROID_ROOT/device/xiaomi/lavender -b hybris-16.0 --depth=1
        git clone https://github.com/Htylol/android_kernel_xiaomi_lavender-1.git $ANDROID_ROOT/kernel/xiaomi/lavender -b hybris-16.0 --depth=1
        rm -rf $ANDROID_ROOT/hybris/hybris-boot
        git clone https://github.com/Htylol/hybris-boot.git $ANDROID_ROOT/hybris/hybris-boot -b lavender
        git clone https://github.com/Htylol/android_vendor_xiaomi_lavender.git $ANDROID_ROOT/vendor/lavender -b hybris-16.0
        rm -rf $ANDROID_ROOT/vendor/lineage
 
    - name: Build HAL
      run: |
        chmod +x build-hal.sh
        bash build-hal.sh
      shell: bash

    - name: Check free disk
      if: failure()
      run: |
        df -h
      shell: bash

    - name : Upload boot image
      uses: actions/upload-artifact@master
      with:
        name: hybris-boot.img
        path: ${{env.ANDROID_ROOT}}/out/target/produшщct/${{env.DEVICE}}/hybris-boot.img
